<h4>Comparar soluções: <%= solIds.join("  ·  ") %></h4>

<table class="striped">
  <thead>
    <tr><th>Métrica</th>
      <% solIds.forEach(id=>{ %><th>Sol <%= id %></th><% }) %>
    </tr>
  </thead>
  <tbody>
    <tr><td>Conflicts</td><% solIds.forEach(()=>{ %><td>0</td><% }) %></tr>
    <tr><td>Utilização</td><% solIds.forEach(()=>{ %><td>83%</td><% }) %></tr>
    <tr><td>Gaps</td><% solIds.forEach(()=>{ %><td>3 h</td><% }) %></tr>
  </tbody>
</table>

<a class="btn blue">Adoptar (placeholder)</a>
