<h2>Dashboard</h2>

<div class="row">

  <!-- Hor치rios -->
  <div class="col s12 m4">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Hor치rios</span>
        <p>Carregue e visualize os hor치rios dispon칤veis. Fa칞a o upload de ficheiros CSV.</p>
      </div>
      <div class="card-action">
        <a href="/schedule" class="yellow-text text-lighten-2">Aceder  p치gina de Hor치rios</a>
      </div>
    </div>
  </div>

  <!-- Salas -->
  <div class="col s12 m4">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Salas</span>
        <p>Carregue e visualize as salas dispon칤veis. Fa칞a o upload de ficheiros CSV.</p>
      </div>
      <div class="card-action">
        <a href="/classroom" class="yellow-text text-lighten-2">Aceder  p치gina de Salas</a>
      </div>
    </div>
  </div>

  <!-- 游댠 NOVO CARD Algoritmos -->
  <div class="col s12 m4">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Algoritmos de Optimiza칞칚o</span>
        <p>Execute o NSGA-II ou compare diferentes algoritmos para gerar hor치rios automaticamente.</p>
      </div>
      <div class="card-action">
        <a href="/algorithm" class="yellow-text text-lighten-2">Aceder  p치gina de Algoritmos</a>
      </div>
    </div>
  </div>

</div>
