
<h2>Dashboard</h2>
<div class="row">
    <!-- Card para Upload de Horários -->
    <div class="col s12 m6">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">Horários</span>
                <p>Carregue e visualize os horários disponíveis. Faça o upload de ficheiros CSV.</p>
            </div>
            <div class="card-action">
                <a href="/horarios" class="yellow-text text-lighten-2">Aceder à página de Horários</a>
            </div>
        </div>
    </div>

    <!-- Card para Upload de Salas -->
    <div class="col s12 m6">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">Salas</span>
                <p>Carregue e visualize as salas disponíveis. Faça o upload de ficheiros CSV.</p>
            </div>
            <div class="card-action">
                <a href="/salas" class="yellow-text text-lighten-2">Aceder à página de Salas</a>
            </div>
        </div>
    </div>
</div>