<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestão de Horários</title>
    <!-- Materialize CSS via CDN -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <link href="/tabulator_materialize.min.css" rel="stylesheet">
    <script src="https://unpkg.com/tabulator-tables@5.1.7/dist/js/tabulator.min.js"></script>
    <style>
        body {
            display: flex;
            min-height: 100vh; /* Garante que o corpo tenha no mínimo a altura da tela */
        }
        #sidebar {
            width: 250px;
            background-color: #263238;
            color: white;
            display: flex;
            flex-direction: column;
            min-height: 100%; /* Faz o sidebar expandir junto com o conteúdo */
        }
        .nav-link {
            color: white;
            padding: 15px;
            display: block;
        }
        .nav-item {
            margin-bottom: 10px; /* Espaçamento entre os itens */
        }
        #content {
            flex-grow: 1;
            padding: 20px;
        }
    </style>
</head>
<body>

    <!-- Sidebar -->
    <div id="sidebar" class="blue-grey darken-4">
        <div class="sidebar-header p-3 white-text nav-link">
            <h5>Gestão de Horários</h5>
        </div>

        <!-- Menu lateral com mais espaçamento -->
        <ul class="nav flex-column p-3">
            <li class="nav-item">
                <a href="/schedule" class="nav-link white-text">Horários</a>
            </li>
            <!-- Adicionar um separador -->
            <li><div class="divider"></div></li>
            <li class="nav-item">
                <a href="/classroom" class="nav-link white-text">Salas</a>
            </li>

        </ul>
    </div>

    <!-- Conteúdo Dinâmico -->
    <div id="content">
        <%- include(content) %>
    </div>

    <!-- Materialize JS & Dependencies -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
