<!-- Inclui o CSS e JS do Tabulator -->
<link href="https://unpkg.com/tabulator-tables@5.1.7/dist/css/tabulator.min.css" rel="stylesheet">
<script src="https://unpkg.com/tabulator-tables@5.1.7/dist/js/tabulator.min.js"></script>

<h2>Upload de Horários</h2>
<form id="uploadHorariosForm" enctype="multipart/form-data">
    <div class="file-field input-field">
        <div class="btn">
            <span>File</span>
            <input type="file" id="horariosFile" name="file">
        </div>
        <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="Selecione o ficheiro de horários (CSV)">
        </div>
    </div>
    <button type="submit" class="btn waves-effect waves-light">Upload Horários</button>
</form>


<div class="row">
    <!-- Container para a tabela do Tabulator com scroll horizontal -->
    <h3>Ficheiro de Horários Carregado</h3>
    <div class="table-container col s9" >
        <div id="horarios-table"></div>
    </div>
</div>

<script>

    document.getElementById('uploadHorariosForm').addEventListener('submit', function(e) {
        e.preventDefault();  // Evitar o reload da página

        const formData = new FormData(this);
        fetch('/upload/horarios', {
            method: 'POST',
            body: formData
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Erro ao carregar o ficheiro.');
            }
            return response.text();
        })
        .then(data => {
            // Mostrar mensagem de sucesso com o toast
            M.toast({html: 'Horários carregados com sucesso!', classes: 'green'});
            // Atualizar a página para mostrar a tabela atualizada
            location.reload();
        })
        .catch(error => {
            // Mostrar mensagem de erro com o toast
            M.toast({html: error.message || 'Erro ao carregar o ficheiro.', classes: 'red'});
        });
    });

    document.addEventListener('DOMContentLoaded', function() {
    const table = new Tabulator("#horarios-table", {
        ajaxURL: "/horarios/tabela", // URL para o endpoint de horários com paginação
        ajaxParams: { page: 1, pageSize: 250 }, // Parâmetros iniciais
        ajaxConfig: "GET", // Tipo de requisição
        pagination: "remote", // Usar paginação remota
        paginationSize: 250, // Tamanho da página
        autoColumns: true, // Gera colunas automaticamente
        layout: "fitColumns",
        });
    });


</script>


<style>
    .table-container{
        overflow: hidden;
        position: fixed;
    }
</style>

